.inner-view-bar-container{
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    /* background-color: aliceblue; */
    padding-top: 20px;
}

.viewbar-buttons{
    display: inline-block;
    width:250px;
    background-color:#e5e5e5;
    border:2px solid #1ab1be;
    font-family:Arial, Helvetica, sans-serif;
    color: #1ab1be;
}

.view-item-container{
    position:relative;
    width:90%;
    background-color: white;
    margin:5%;
    margin-top:30px;
    height:100%;    /*set does to feel better when designing */
}

/* CSS for view card */
.view-card-display{
   display:grid;
   grid-template-columns:25% 25% 25%  25% ;
   margin:auto;
   grid-column-gap: 0px;
    
   width: 100%;
   height:100%;
}
.view-card-container{
    position:relative;
    background-image:url('../../img/imgnotfound.png');
    background-repeat: no-repeat;
    background-size: 100% 200px;
    height:200px;
    width: 50%;
    margin:4%;
    color:white;
}

.view-card-background{
    position:absolute;
    min-height:200px; 
    height:200px;
    width:100%;
}

.view-card-button-info-container{
    position:absolute;
    width: 100%;
    z-index:+1;
    background-color:rgb(0,0,0,0.5);
    /* opacity:0.5; */
    margin-top:75px;
}
.view-card-info-container{
    position: relative;
    z-index:+2;
    display:block;
}

.view-card-each-info{
    width:100%
}

.view-card-button-container{
    position:relative;
    z-index:+2;
    width:100%;
    font-size:12px;

}

#view-card-view-button{
    position:relative;
    width:50%;
    background-color:#31cc19;
    color:white;
    border:0px;
    z-index:+2;
}

#view-card-borrow-button{
    position:relative;
    width:100%;
    background-color:#31cc19;
    color:white;
    border:0px;
    z-index:+2;
}

#view-card-return-button{
    position:relative;
    width:100%;
    background-color:#e50000;
    color:white;
    border:0px;
    z-index:+2;
}

#view-card-time{
    position:relative;
    width:100%;
    background-color:rgb(173, 173, 39);
    color:white;
    border:0px;
    z-index:+2;
}


#view-card-delete-button{
  position:relative;
  width:50%;
  background-color: #e50000;
  color:white;
  border:0px;
  z-index:+2;

}

.view-count-container{
   width:100%;
   height:30px;
   background-color: #1ab1be;
   margin-top:25px; 
   padding:5px;
}

.view-count-book{
    float:left;
    margin-left:40px;
    color:white;

}
.view-count-dvd{
    float:right;
    margin-right:40px;
    color: white;
    
}


.view-card-available-tag{
    position: relative;
    z-index: +3;
    background-color: rgb(0,255,0,0.5);
    width:100%;
    text-align: center;
    /* opacity:0.5; */
    /* color: black; */
}


.view-card-unavailable-tag{
    position: relative;
    z-index: +3;
    background-color:rgb(255,0,0,0.5);
    width:100%;
    text-align: center;
    /* color: black; */

}